In [3]:
#use "all-array.ml"

val length_l : 'a list -> int = <fun>
val somme_t : int array -> int = <fun>
val appartient_t : 'a -> 'a array -> bool = <fun>
val mini_t : int array -> int = <fun>
val maxi_t : int array -> int = <fun>
val croissant_t : 'a array -> bool = <fun>
val decroissant_t : 'a array -> bool = <fun>
val doublon_t : 'a array -> bool = <fun>
val inverser_t : 'a array -> 'a array = <fun>
val egal_t : 'a array -> 'a array -> bool = <fun>
val consecutive_max_t : int array -> int = <fun>
val image_t : ('a -> 'a) -> 'a array -> 'a array = <fun>
val dichotomie_t : 'a -> 'a array -> bool = <fun>
val trichotomie_t : 'a -> 'a array -> bool = <fun>
val tri_comptage_t : int array -> int array = <fun>
val swap_t : 'a array -> int -> int -> unit = <fun>
val sort_bubble : 'a array -> unit = <fun>
val tri_t : 'a array -> unit = <fun>
val array_of_list : int list -> int array = <fun>
val array_to_list : 'a array -> 'a list = <fun>

In [12]:
let t1 = [|1;2;3;4;5;6|];;
let t2 = [|7;5;3;4;2;8;6;|];;
let t3 = [|8;4;6;4;2;9;8;|];;

val t1 : int array = [|1; 2; 3; 4; 5; 6|]

val t2 : int array = [|7; 5; 3; 4; 2; 8; 6|]

val t3 : int array = [|8; 4; 6; 4; 2; 9; 8|]

In [5]:
(* [somme_t t1] renvoie la somme des éléments de t1 *)
somme_t t1

- : int = 21

In [6]:
(* [appartient_t e t1] renvoie si e appartient à t1*)
appartient_t 10 t1

- : bool = false

In [15]:
(* [mini_t t1] renvoie le minimum de t1*)
mini_t t3

- : int = 2

In [8]:
(* [maxi_t t1] renvoie le maximum de t1*)
maxi_t t1

- : int = 6

In [9]:
(* [croissant_t t1] renvoie si t1 est trié dans l'ordre croissant *)
croissant_t t1

- : bool = true

In [10]:
(* [decroissant_t t1] renvoie si t1 est trié dans l'ordre décroissant  *)
decroissant_t t1

- : bool = false

In [14]:
(* [doublon_t t1] indique si il existe un doublon dans t1 *)
doublon_t t1;;
doublon_t t3

- : bool = false

- : bool = true

In [17]:
(* [egal_t t1 t2] indique si les deux tableaux sont identiques*)
egal_t t1 t2

- : bool = false

In [18]:
(* [consecutive_max_t t1] retourne la plus importante somme d'éléments du tableau t1 *)
consecutive_max_t t1

- : int = 21

In [20]:
(* [dichotomie_t e t1] indique si e appartient à t1 en compléxité O(nlog(n))*)
dichotomie_t 7 t1

- : bool = false

In [22]:
(* [trichotomie_t e t1] indique si e appartient à t1 en compléxité O(nlog(n))*)
trichotomie_t 4 t1

- : bool = false